{% extends "base.html" %}

{% block content %}
<div class="titulo">
  <head>
    <h1><strong><b>Detecção de emoções pela WebCam</b></strong></h1>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <h1 style="text-align: center;"><span style="color: #0000ff;"></span></h1>
  </head>
</div>
<h1 style="text-align: center;">Bem vindo ao detector de emoções! Aproveite e descubra todas as duas emoções!
  </h1>
<div class='box-1'>
<form action="{{url_for('detecta')}}" method='POST'>
  <h1 style="text-align: center;"><input type="text" , name ="x1" placeholder = "Digite o endereço do vídeo do youtube", style="width: 300px; height: 30px;" /></h1>
  <h1 style="text-align: center;"><button type= "submit" class= "btn btn-primary btn-block btn-large">Iniciar</button></h1>
</form>
</div>




{% endblock %}