{% extends "base.html" %}

{% block content %}
<div class="titulo">
  <head>
    <h1><strong><b>Detecção de emoções pela WebCam</b></strong></h1>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <h1 style="text-align: center;"><span style="color: #0000ff;"></span></h1>
  </head>
</div>
<h1 style="text-align: center;">Bem vindo ao detector de emoções! Clique em iniciar e a camera do seu computador será aberta em uma nova aba, para sair, basta apertar o botão Q a qualquer momento
  </h1>


<div class='box-1'>
    <div>
        <div >
            <img src="{{ url_for('detecta') }}">
        </div>
    </div>
</div>



{% endblock %}