{% extends "base.html" %}

{% block content %}
<div class="titulo">
  <head>
    <h1><strong><b>Detecção de emoções pela WebCam</b></strong></h1>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <h1 style="text-align: center;"><span style="color: #0000ff;"></span></h1>
  </head>
</div>

  <h1 style="text-align: center;"><button class= "btn btn-primary btn-block btn-large"><a href="{{url_for('detecta')}}"> Iniciar</button></h1>


<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>


{% endblock %}